.banner{
    position: relative;
    .img{
        img{
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
    .outerdiv{
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        .container{
            padding: 60px 0px;
            position: absolute;
            top: 50px;
            left: 0%;
            right: 0%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
            .topdiv{
                h5{
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                }
                h2{
                    margin-top:15px;
                    color: #fff;
                    font-size: 40px;
                    font-family:'Essonnes';
                    font-weight: 500;
                }
            }
            .bottomdiv{
                text-align: center;
                p{
                    color: #fff;
                    width: 70%;
                    text-align: center;
                    margin: auto;
                    font-size: 16px;
                    line-height: 28px;
                    margin-bottom: 45px;
                }
                .but{
                    a{
                        :hover{
                            color:#84754E;
                        }
                        button{
                            background-color: #84754E;
                            color: #fff;
                            border: none;
                            width: 200px;
                            height: 47px;
                            font-weight: 500;
                            border-radius: 3px;
                            transition: all .5s ease-in-out;
                            
                        &:hover{
                            background: none;
                            // border-radius: 5px solid #84754E;
                            border: 1px solid #84754E ;
                            transition: all .5s ease-in-out;
                        }
                        }
                    }
                }
            }
        }
    }
}