.banner_img{

    img{
        max-width: 100%;
        width: 100%;
        // position: absolute;
        top: 0;
        z-index: -1;
        height: 100vh;
        object-fit: cover;
    }
}
.hero-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

        h1{
            color: #fff;
            font-size: 40px;
            line-height: 53px;
            font-family:'Essonnes'; 
            font-weight: 500;
            position: relative;
            z-index: -1;
            &::after{
                position: absolute;
                display: inline-block;
                width: 120px;
                height: 1px;
                bottom: -12px;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                background-color: #A9986A;
            }
        }
}
.description{
    padding: 120px 0px;
    h2{
        color: #756A4B;
        font-size: 40px;
        line-height: 53px;
        font-family: 'Essonnes';
        font-weight: 500;
        position: relative;
        &::after{
            position: absolute;
            display: inline-block;
            width: 120px;
            height: 1px;
            bottom: -12px;
            left: 14%;
            transform: translateX(-50%);
            content: '';
            background-color: #A9986A;
        }
    }
    .v_description{
        p{
            margin-bottom: 28px;
            font-size: 16px;
            font-family: 'poppins';
            color: #414240;
            line-height: 28px;
        }
    }
}
.description_v{
    padding: 120px 0px;
    .dis,p{
        width: 770px;
        margin-left: auto;
        margin-right: auto;
        color: #414240;
        line-height: 28px;
        font-size: 16px;
        font-family: 'poppins';
    }
    .but{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            :hover{
                color:#84754E;
            }
            button{
                background-color: #84754E;
                color: #fff;
                border: none;
                width: max-content;
                padding-left: 20px;
                padding-right: 20px;
                height: 47px;
                font-weight: 500;
                border-radius: 3px;
                transition: all .5s ease-in-out;
                margin-top: 20px;
                &:hover{
                    background: none;
                    // border-radius: 5px solid #84754E;
                    border: 1px solid #84754E ;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
} 

